<!DOCTYPE html>
<html>
	<head><title>Calculator?</title></head>
	<body> 
		<form action="../main" method="POST">
			<label>Enter the first number to be added:<input type="text" name="Number" id="Number"/></label>
			
			
			<select name="option">
				<option>+</option>
				<option>-</option>
				<option>/</option>
				<option>*</option>
				<option>**</option>
			</select>
			<label>Enter the second number to be added:<input type="text" name="Number2" id="Number2"/></label>
			<input type="submit" value="Calculate">
	




		</form>
	</body>

</html>